{% extends "base.html" %}

{% block app_content %}
    <h3>Система учета движения товаров</h3>
    <h4>Курсовой проект выполнил Жданович Иван</h4>
    <p>Магазин принимает товар с оптового склада по приёмочной ведомости, 
        в которой указывается ответственный за приём товара, оптовая цена, объём партии, 
        дата и другая необходимая информация.</p>
    <p>Магазин взаимодействует с несколькими складами и может закупать один и тот же товар на разных складах.</p>
    <p>Со временем и в зависимости от спроса или других условий товар подлежит переоценке, которая подтверждается актом переоценки.
        При этом старая цена товара должна сохраняться, чтобы иметь возможность дальнейшего анализа накопленных данных.</p>    
    <p>Магазин взаимодействует со своими филиалами при обслуживании клиента.  Т.е. при отсутствии некоторого товара в магазине возможно произвести его заказ в филиале.
        Следует также учесть возможность  конфликтов при приеме товаров и иметь в системе необходимую информацию (например, возврат брака).</p>
    <h4>Система должна эффективно выдавать ответы на следующие запросы:</h4> 
    <p>1. Сформировать список товаров, поставляемых определённой фирмой.</p>
    <p>2. Сформировать список товаров, которые подвергались переоценке за определённый период.</p>
    <p>3. Сформировать список фирм, товары которых были возвращены за определённый период.</p>
    <p>4. Сформировать список складов, поставляющих товары определённой фирмы.</p>
{% endblock %}