{% extends "table.html" %}
{% block table_content %}
    <table class="table table-striped">
        <tr>
            <th>Act №</th>
            <th>Good Label</th>
            <th>Vendor</th>
            <th>Retail Price</th>
            <th>Revaluation Date</th>
            <th>Operations</th>
        </tr>
        {% for row in data %}
            <tr>
                <td>{{ row.RevaluationAct.revaluation_id}}</td>
                <td>{{ row.Good.good_label }}</td>
                <td>{{ row.Vendor.vendor_label }}</td>
                <td>{{ row.RevaluationAct.retail_price }}</td>
                <td>{{ row.RevaluationAct.revaluated_at.date() }}</td>
                <td>
                    <a href="{{ url_for('revaluations.delete', id=row.RevaluationAct.revaluation_id) }}">Delete</a>                    
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endblock %}